@import '../../GlobalSyles/variables.scss';
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  .window {
    position: absolute;
    @include flex-row();

    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
  .closeBtn {
    position: absolute;
    height: 32px;
    width: 32px;
    color: white;
    transition: all 0.3s;
    &:hover {
      scale: 1.2;
      rotate: 90deg;
    }
  }
}

// @media screen and (min-width: 0px) and (max-width: 1220px) {
//   .background {
//     .window {
//       width: 80vw;
//     }
//   }
// }

@media screen and (min-width: 0px) and (max-width: 950px) {
  .background {
    .window {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .background {
    .window {
      padding: 0px;
      padding-top: 10px;
      .closeBtn {
        color: $vibrantOrangeColor;
      }
    }
  }
}
