$vibrantOrangeColor: rgb(255, 105, 0);
$vibrantOrangeDark: rgb(233, 97, 0);
$creamyColor: rgb(255, 240, 230);
$orangeTextColor: rgb(209, 87, 0);

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin primaryBtn {
  background-color: $vibrantOrangeColor;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 16px;
  min-height: 40px;
  max-width: 60%;
  min-width: 120px;
  transition: all 0.3s;
  &:hover {
    background-color: $vibrantOrangeDark;
  }
  &:active {
    background-color: $vibrantOrangeColor;
    color: #eeeeeeb4;
  }

  &:disabled {
    opacity: 50%;
  }
}
